= form_for(@track, html:{ class: "pure-form pure-form-aligned" }) do |f|
  %fieldset
    - if @track.errors.any?
      #error_explanation
        %h2
          = pluralize(@track.errors.count, "error")
          prohibited this track from being saved:
        %ul
          - @track.errors.full_messages.each do |message|
            %li= message
    .pure-control-group
      = f.label :title
      = f.text_field :title
    .pure-control-group
      = f.label :rating
      = f.number_field :rating
    .pure-control-group
      = f.label :artist_id
      = f.collection_select(:artist_id, Artist.order(:name), :name, :name)
    .pure-control-group
      = f.label :album_id
      = f.collection_select(:album_id, Album.order(:title), :title, :title)
    .pure-control-group
      = f.label :date
      = f.date_select :date
    .pure-control-group
      = f.label :location
      = f.text_field :location
    .pure-control-group
      = f.label :bitrate
      = f.text_field :bitrate
    .pure-control-group
      = f.label :lyrics
      = f.text_area :lyrics
    .pure-control-group
      = f.label :track_id, min:1
      = f.number_field :track_id
    .pure-control-group
      = f.label :disc_id
      = f.number_field :disc_id, min:1
    .pure-control-group
      = f.label :format
      = f.text_field :format
    .pure-controls
      = f.submit class: "pure-button pure-button-primary"
