.header
  %h1 All Artists
.content
  - if not notice.nil?
    .pure-alert.pure-alert-success#notice= notice
  - if not alert.nil?
    .pure-alert.pure-alert-error#alert= alert
  //= throw error
  %table.pure-table.pure-table-bordered
    %thead
      %tr
        %th Name
        %th Rating
        %th{:colspan => "3"}
    %tbody
      - @artists.each do |artist|
        %tr
          %td= artist.name
          %td= artist.rating
          %td= link_to 'Edit', edit_artist_path(artist)
          %td= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Artist', new_artist_path, class: "pure-button pure-button-primary"
