= form_for(@album, html:{ class: "pure-form pure-form-aligned" },) do |f|
  %fieldset
    - if @album.errors.any?
      #error_explanation
        %h2
          = pluralize(@album.errors.count, "error")
          prohibited this album from being saved:
        %ul
          - @album.errors.full_messages.each do |message|
            %li= message
    .pure-control-group
      = f.label :title
      = f.text_field :title
    .pure-control-group
      = f.label :rating
      = f.number_field :rating
    .pure-control-group
      = f.label :artist_id
      = f.collection_select(:artist_id, Artist.order(:name), :name, :name )
    .pure-control-group
      = f.label "Cover Art"
      = f.file_field :art
    .pure-control-group
      = f.label :release_date
      = f.date_select :release_date
    .pure-controls
      = f.submit class: "pure-button pure-button-primary"
