= form_for(@album) do |f|
  - if @album.errors.any?
    #error_explanation
      %h2
        = pluralize(@album.errors.count, "error")
        prohibited this album from being saved:
      %ul
        - @album.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :rating
    %br/
    = f.number_field :rating
  .field
    = f.label :artist_id
    %br/
    = f.number_field :artist_id
  .field
    = f.label :art
    %br/
    = f.text_field :art
  .field
    = f.label :release_date
    %br/
    = f.date_select :release_date
  .actions
    = f.submit
