%p#notice= notice
%p
  %strong Title:
  = @album.title
%p
  %strong Artist:
  = @album.artist.name
%p
  %strong Rating:
  = @album.rating
%p
  %strong Art:
  = @album.art
%p
  %strong Release date:
  = @album.release_date
= link_to 'Edit', edit_album_path(@album)
|
\#{link_to 'Back', albums_path}
